@model ApartmentDetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-6 offset-3">
    <h2>@Model.CategoryName @Model.ApartmentType @Model.Price€ @Model.Location</h2>
    <br/>
    <img class="d-block w-100" src="@Model.ImageUrl" alt="@Model.ApartmentType @Model.Year @Model.Location">
    <p>@Model.Description</p>
    
   
        <a class="btn btn-info" asp-controller="Order" asp-action="AddToCart" asp-route-id="@Model.Id">
            Add to Card
        </a>
    
   
    <a asp-controller="Apartment" asp-action="All" class="btn btn-primary">Back to All</a>
</div>